[2017-09-23 01:07] arwenhutt opened #1 "Expansion local authority records for digital repository resources"
UC San Diego Library is in the process of identifying external URI matches for entities (names, concepts, geographics) used in the DAMS repository and expanding and revising metadata encoded in these authority records.

[ ] what specifically do we want to record about current UC / other projects?

[2017-09-26 01:03] arwenhutt opened #2 "Slack channel set up"
Slack channel for discussion.  UC Tech team might be good if it's paid (so doesn't max out messages).

[2017-09-26 01:04] arwenhutt opened #3 "GitHub set up"
|      Name     |  User name | Invitation sent | Invitation accepted |
| ------------- | ------------ | :----------------: | :---------------------: |
| Kathryn  	| katstine  | y | y |
| Haiquing 	| hlinUCB | y |
| Carl  	| cstahmer | y | y |
| Kevin   	| kbalster | y | y |
| Noah   	| ngeraci | y | y |
| Chrissy   	| chrissyrissmeyer | y | y | y |
| Rachel   	| rmjaffe | y | y | y |

[2017-09-26 01:22] arwenhutt commented on #2
I verified that the UC Tech team is a paid account.
So I went ahead and set up a channel #linked-data-group in the uctech.slack.com team.

@chrissyrissmeyer, @katstine, and @ngeraci I added you since you were already on the team

[2017-09-26 02:03] arwenhutt commented on #3
@cstahmer @ngeraci @rmjaffe For some reason, even though it looks like you've been added to this repository, I can't add you to the group.  If you haven't accepted the invitation from Matt Critchlow (by way of github), can you do that and then ping me?  (@ message here is great or slack) so I can see if that fixes things?
Thanks!

[2017-09-26 16:01] chrissyrissmeyer commented on #2
Since this came up on the call yesterday, here is more information on how to adjust your notification preferences in Slack:

- [General notification guide](https://get.slack.help/hc/en-us/articles/201895138-Guide-to-Slack-notifications)
- [Adjusting channel notification preferences](https://get.slack.help/hc/en-us/articles/201649323-Channel-notification-preferences)
- [Muting a channel](https://ge

[2017-09-29 16:17] arwenhutt opened #4 "UC DLF - proposal"
Finalize proposal for UC DLF session.

Please edit freely:
https://docs.google.com/a/ucsd.edu/document/d/1xxmLqnVPT-cjEIfumDX8LZn1Jn_U0_L7gIZXEwzaD8M/edit?usp=sharing

[2017-10-02 21:08] chrissyrissmeyer commented on #4
I submitted this today during the Programming Committee meeting.

[2017-10-02 21:13] #4 closed

[2017-10-13 15:25] cstahmer opened #5 "Ability to Mint Community Accessible URI's on the Fly"
UC Davis is currently in the midst of an effort to migrate our complete catalog and operations to Linked Data operations.  We use OCLC Connexion as our cataloging interface, and Alma as our ILS.  In order for our transition to proceed, we've identified several service requirements that require vendor engagements.

1)  We need to be able to mint URIs on the fly in Connexion for entities for which t

[2017-10-13 15:27] cstahmer opened #6 "Coordination with Shared ILS effort"
CUL just made a decision to pursue further investigation of moving to a shared ILS.  It would be good for us to make recommendations about how Linked Data group might participate in these discussions.

[2017-10-13 16:47] #2 closed

[2017-10-13 21:03] chrissyrissmeyer opened #7 "Linked data for maintenance of authority headings and controlled vocabulary"
The labels for controlled terms expressed as URIs can be updated on a regular basis by updating a cache without requiring additional maintenance by cataloging/metadata staff (or external vendors). Many of the controlled vocabularies we use are constantly changing, common examples include the monthly [updates to LCSH](https://www.loc.gov/aba/cataloging/subject/weeklylists/) and changes to name head

[2017-10-13 21:09] chrissyrissmeyer opened #8 "Supplement local data with external linked data"
Having a URI reference in a local record to an external linked data record allows the local system to make decisions about what supplemental data would be of value to bring in the context of the local system. For example, the object in the authority example reference the American Film Manufacturing Company (AFMC) as the creator and contributor of the content. This reference could include a triple

[2017-10-13 21:10] chrissyrissmeyer opened #9 "Data Visualization"
Linked data can also be used to create interfaces for users to explore visual relationships between objects and data.

* Linked Jazz: https://linkedjazz.org/network/
* UCI Artist Books: http://www.lib.uci.edu/sites/all/plodab/index.php

[2017-10-13 21:12] chrissyrissmeyer opened #10 "Knowledge cards"
Create "knowledge cards" ala Google.
![google-knowledge-card-music-artists-2](https://user-images.githubusercontent.com/4228849/31566677-94d564d6-b020-11e7-978b-82cc6e5affd8.png)

[2017-10-13 21:20] chrissyrissmeyer commented on #10
From old UCSB/UCSD created document: https://docs.google.com/document/d/1IF80HofbWh7iK5Oxh5vfFSmHs7MEw49rr4t0LebNWOA/edit?usp=sharing

[2017-10-13 21:20] chrissyrissmeyer commented on #7
Adapted from old UCSB/UCSD created document: https://docs.google.com/document/d/1IF80HofbWh7iK5Oxh5vfFSmHs7MEw49rr4t0LebNWOA/edit?usp=sharing

[2017-10-13 21:20] chrissyrissmeyer commented on #9
From old UCSB/UCSD created document: https://docs.google.com/document/d/1IF80HofbWh7iK5Oxh5vfFSmHs7MEw49rr4t0LebNWOA/edit?usp=sharing

[2017-10-13 21:20] chrissyrissmeyer commented on #8
From old UCSB/UCSD created document: https://docs.google.com/document/d/1IF80HofbWh7iK5Oxh5vfFSmHs7MEw49rr4t0LebNWOA/edit?usp=sharing

[2017-10-13 21:21] chrissyrissmeyer commented on #8
Adding some other examples from the above document.

[2017-10-13 21:21] chrissyrissmeyer commented on #8
Also wondering if this should be split into multiple use cases.

[2017-10-23 20:47] arwenhutt opened #11 "Linked Data Projects - Survey"
Create survey for collection information about Linked Data Projects UC Libraries are involved in.  Draft text here:
https://docs.google.com/a/ucsd.edu/document/d/1UvCN4JKx_rPUmocaIoqQR6aOnAd0ncymJxWqVFKy8m8/edit?usp=sharing

[2017-10-26 23:55] katstine opened #12 "Project Team Timeline"
I started roughing out a [timeline](https://docs.google.com/spreadsheets/d/1unDJh7tCHX42EVfhYg_xmV5B3Fu6v9WFjocnAf8Efgc/edit?usp=sharing) for us, using the tasks and deliverables described in the project charge. Timeframes for each task (as well as task-task sequencing) are all guesses, and subject to change given the iterative nature of the work we have ahead. :)

[2017-10-27 17:43] arwenhutt commented on #12
This looks really good @katstine!  Thank you so much for putting this together :)

[2017-10-27 20:14] kbalster commented on #8
On the MARC bibliographic side of things, two possibilities quickly come to mind:

1. Supplementing bibliographic descriptions with ONIX metadata - such as 505 contents notes.
2. Establishing URIs for individual serial issues which could allow for collaborative maintenance of issue identification between Library "check-in" staff, Abstract & Indexing services, and publishers. This one came up in th

[2017-11-03 16:13] rmjaffe opened #13 "Addition of $0 to bibliographic records"
UC Santa Cruz Library is in the planning stages of enhancing our MARC data with identifiers (URIs) in order to facilitate the eventual reuse of MARC data as linked data. The Library plans to send approximately 1.5 million bibliographic records to a vendor for the addition of URIs in subfield 0 in access point fields of bibliographic records. URIs will also be added to 1xx fields in authority recor

[2017-11-03 16:21] rmjaffe commented on #7
UCSC is also exploring this in the space of our Hyrax implementation project.  I don't know if it would be presented as a second use-case or as an add-on to this one, but we are also looking at transforming our local controlled terms and brief authority records into linked data so that we can  automate the authority control work around those terms as well.

[2017-11-05 19:11] arwenhutt commented on #11
@cstahmer @chrissyrissmeyer @katstine @ngeraci @rmjaffe
I've moved the survey questions into google forms.  I made a few wording edits in the process, and reordered a few of the questions.

Links to:

- fill the form out: https://goo.gl/forms/kGLXqe20EXzV1rhh2
- edit the questionnaire: https://docs.google.com/a/ucsd.edu/forms/d/17g9oJushV8wsfEpL38pSU7VFNBsFjki2aHfuECvPiYo/edit?usp=sharing
- respon

[2017-11-07 21:40] ngeraci commented on #13
I'd be curious to learn more about these, is there any documentation you can share? We've talked a little about doing something like this at UC Riverside (we're also currently on Millennium but preparing to migrate to Alma).

[2017-11-07 21:53] rmjaffe commented on #13
Noah, let me put you in touch (via email) with our Metadata Services department head, Marcia Barrett.  She's overseeing project and has done most of the research around it.

[2017-11-16 22:20] arwenhutt commented on #11
I split "What has been most challenging?" and "What has been most successful?" into two separate questions so the challenges and successes can be listed without needing the respondent to add qualifying text like: "what has been most challenging is..." etc.

[2017-11-17 19:43] chrissyrissmeyer commented on #11
@arwenhutt: looks great! my only suggestions are:
-  maybe consider adding a location drop-down for campus/CDL
-  make the name and email address questions required (so we can contact if we have questions)

[2017-12-08 19:08] cstahmer commented on #9
There's an interesting project at Texas A&M that aims to provide a visual/network based browsing experience of combined library and peer reviewed web published data.  Hits both the visualization and extending library data topics. http://bigdiva.org/

[2017-12-08 19:12] cstahmer commented on #7
Label maintenance is one of the areas that we've focused on as an area of potential improved efficiency and performance.  In are current workflow, we have update/import an entire record if a change is going to be made to an authority literal (label).  With URI's, we _think_ we should be able to deliver and update labels to URIs on-the-fly through a centralized reconciliation service.  Testing this

[2017-12-08 19:14] cstahmer commented on #5
Update to the above.  OCLC has agreed to pilot something with us on this.

[2017-12-15 19:42] arwenhutt opened #14 "Strategic priorities identification and alignment"
Identify UC Strategic priorities that may align with LD possibilities

@cstahmer  will share the COUL priorities doc

[2017-12-15 19:44] arwenhutt opened #15 "Notable definitions"
Pull together initial list of definitions for possible inclusion in report/deliverables

[2017-12-15 19:45] arwenhutt opened #16 "Examples of large scale LD usage"
one method mentioned would be to share the survey with some selected external people.

[2017-12-15 19:46] arwenhutt opened #17 "Preliminary review of survey responses"
Ideas on approaching analysis

[2017-12-15 19:46] arwenhutt opened #18 "Add more use cases"

[2017-12-15 19:47] arwenhutt opened #19 "Framework for report"
set up framework, outline for report (document, table of contents, etc.)

[2017-12-15 19:48] arwenhutt opened #20 "Initial outline for webinars"
possible topics, structure, etc.

[2017-12-15 19:51] #11 closed

[2017-12-15 20:25] cstahmer commented on #15
I've started a Wiki page here.

[https://github.com/ucsdlib/uc-linked-data/wiki/Notable-Definitions](https://github.com/ucsdlib/uc-linked-data/wiki/Notable-Definitions)

 Add, edit, delete at will....

[2017-12-15 20:28] cstahmer commented on #19
Not sure where to put this, so I'm putting here.  Here are the CUL strategic priorities that we talked about last time.  The idea was that we try, as much as possible, to point out where our recommendations align with these:

[http://libraries.universityofcalifornia.edu/about/vision-and-priorities](http://libraries.universityofcalifornia.edu/about/vision-and-priorities)

[2017-12-15 20:30] cstahmer commented on #14
Here are the CUL strategic priorities that we talked about last time. The idea was that we try, as much as possible, to point out where our recommendations align with these:

[http://libraries.universityofcalifornia.edu/about/vision-and-priorities](http://libraries.universityofcalifornia.edu/about/vision-and-priorities)

[2017-12-15 21:19] rmjaffe commented on #19
I can do this.

[2017-12-15 21:22] rmjaffe commented on #17
I can help with this too if it proves to be more than a one person job.

[2017-12-15 21:48] kbalster commented on #17
Thanks!

I'll try to take a look at the responses next week, and if we start getting in some more, then I'll get in touch. I figure we can work out a best approach for analysis over email.

[2017-12-16 00:00] rmjaffe commented on #17
Sounds good.  I'm wondering -- should we include the use cases from our
Github issues among the survey results?

On Fri, Dec 15, 2017 at 1:48 PM, kbalster <notifications@github.com> wrote:

--
Rachel Jaffe
Metadata Librarian
Metadata Services, University Library
University of California, Santa Cruz
1156 High Street
Santa Cruz, CA 95064

jaffer@ucsc.edu
(831) 502-7291

http://library.ucsc.edu/

[2017-12-18 18:12] arwenhutt commented on #17
@rmjaffe @kbalster I think we'll want some separate analysis or summary for the "what's happening in the system" part of our charge, but they would also be a good source for mining additional use cases to add to, or for showing interest/support for, the ones we already have.

[2017-12-22 19:46] katstine commented on #17
I'm happy to jump in here (albeit a bit late) with analysis help if you need it!

[2017-12-22 21:03] rmjaffe commented on #17
The more the merrier, methinks!

On Fri, Dec 22, 2017 at 11:46 AM, katstine <notifications@github.com> wrote:

--
Rachel Jaffe
Metadata Librarian
Metadata Services, University Library
University of California, Santa Cruz
1156 High Street
Santa Cruz, CA 95064

jaffer@ucsc.edu
(831) 502-7291

http://library.ucsc.edu/

[2018-01-10 21:21] kbalster commented on #17
Hi @rmjaffe and @katstine, it looks like we probably have all the survey results we can expect, so I think we can get to work on the analysis. There are 17 total responses, so it should not be too difficult. I am taking a first pass through the response spreadsheet [https://docs.google.com/spreadsheets/d/13btSziox771xlxh4Zbt6G__V1ipqq28fyTOzfltyfM8/edit#gid=1518377035] and added a second tab for a

[2018-01-12 19:23] #1 closed

[2018-01-12 19:28] arwenhutt commented on #1
closing.  this was an early stub before we moved example projects into the survey (the use case it aligns with is the same as, and much better described in, issue #8

[2018-01-12 20:32] katstine commented on #17
hi @kbalster! thanks so much for setting up the analysis sheet - it's great! I added three columns at the end: "Needs", "Goals", and "map to Use Case". In Needs, I'm trying to track where mentions have been made of systems or tools that might be useful in supporting campus' work (beyond just what they've noted in response to the "challenges" question). I'm also working in there to try to distill/c

[2018-01-12 20:59] chrissyrissmeyer commented on #17
@kbalster @katstine @rmjaffe: My apologies, but I only submitted my response to the form today (we have, er, had a lot going on in SB the past month). Hoping one of you saw this.

[2018-01-12 21:02] ngeraci commented on #14
In progress: https://github.com/ucsdlib/uc-linked-data/wiki/Linked-data-and-UC-Libraries-strategic-priorities

[2018-01-12 21:46] chrissyrissmeyer commented on #20
Chrissy still has webinar privileges on her UCSB Zoom account, and it happy to host if needed.

We hosted Samvera Virtual Connect in 2017, and for that put together a variety of instructions:
- Host schedule/instructions: https://docs.google.com/document/d/1OhBCL0cYCDxt2F-Yr-r5hnPBDcGkQ9LyFz_eC-IJ3ls/edit
- Detailed presenter instructions (we have three different types for SVC): https://drive.goog

[2018-01-12 21:48] chrissyrissmeyer commented on #17
@kbalster @katstine @rmjaffe: just saw another response came in from UCSB this afternoon (I reminded some folks this week) -- sorry again for the late responses!

[2018-01-12 21:51] rmjaffe commented on #17
@kbalster @katstine I'm wondering if we should hold off on any further analysis until we've contacted and (hopefully) heard back from the people and projects we targeted in today's meeting?

[2018-01-12 21:53] katstine commented on #17
@rmjaffe @kbalster in that case, should we impose a new deadline in that case? also, I'm happy to meet up by Zoom with you all to discuss findings, take a stab at what/how to present, etc.

[2018-01-12 21:58] rmjaffe commented on #17
@katstine, I definitely think a new deadline is a good idea.  How long should we give and how much time do we need to give ourselves to have our data and findings in order before UC-DLF?  A Zoom call is another great idea!!

[2018-01-12 21:59] chrissyrissmeyer commented on #17
Just emailed Charlie @ UCSF. I'll update here once I hear back from him.

[2018-01-12 23:12] ngeraci commented on #17
Just emailed Laura (UCI) & will likewise update.

[2018-01-12 23:49] arwenhutt commented on #20
While trying to compose an email about the webinars, I decided to first try taking a stab at integrating all of the different, and great, ideas together!

Here's a draft: https://docs.google.com/document/d/17X98lkCN6DZTH03e-NNc-k35BnUwjXcpZHcBIB0eyYo/edit?usp=sharing

Feedback needed!

[2018-01-16 22:13] rmjaffe commented on #20
@arwenhutt Thank you so much for doing this.  I really like this outline, especially how you've it up so that the webinars build on one another.

[2018-01-16 22:14] rmjaffe commented on #17
@katstine @kbalster Just wanted to check in -- when are you guys available for a Zoom chat?

[2018-01-17 23:42] chrissyrissmeyer opened #21 "Update UC-DLFx sched"
Currently, because I submitted the proposal, I am listed as the only person facilitating our Birds of a Feather lunch. I am happy to contact the organizers and request an update if I can get a list of those who plan to be there.

Can everyone take a moment and comment below to let me know if they will be attending the session? (I suspect that all of us attending will be help facilitate in one way

[2018-01-17 23:43] chrissyrissmeyer commented on #21
I'll be there!

[2018-01-18 00:14] kbalster commented on #21
I will not be attending.

[2018-01-18 01:43] katstine commented on #17
yes! this Friday, anytime 9-11am or 12-2pm. then next week Tuesday 1/23 11am-2pm or 3-5pm. the remainder of the week is pretty crazy.

messaged Brian Tingle (CDL) and Emily Lin (UCM), asking if they could reply to the survey by next week.

[2018-01-18 02:03] arwenhutt commented on #21
I'll be there

[2018-01-18 02:11] arwenhutt commented on #20
Thanks @rmjaffe!

[2018-01-18 20:01] rmjaffe commented on #21
I'll be there too.

[2018-01-18 20:23] rmjaffe commented on #17
Great!  How does next Tuesday 3-4 sound? @kbalster?

[2018-01-19 18:09] cstahmer commented on #21
I'll be there

[2018-01-19 19:58] chrissyrissmeyer commented on #21
Haiquing confirmed via email that he will not be attending UC-DLFx.

[2018-01-26 00:45] kbalster commented on #17
Ugh, sorry for falling off the face of the earth this past week @rmjaffe @katstine @chrissyrissmeyer. My schedule is pretty open next week to set up a Zoom call (any time after 11:00 Monday-Friday).

[2018-01-26 01:00] rmjaffe commented on #17
Totally OK @kbalster , it happens :) But I do think we should try to arrange for something next week.

I am free after 2:00 Tues-Fri next week.

[2018-01-26 21:06] chrissyrissmeyer commented on #21
@katstine and @ngeraci: do either of you know if you will be able to attend the session? Was hoping to request the update this week.

[2018-01-26 23:24] katstine commented on #21
Hi Chrissy,

I’ll be at UCDLFx, but unfortunately at another BoF that is running concurrent to the Linked Data BoF. I’m happy to help with planning, though!

Kathryn

From: Chrissy Rissmeyer <notifications@github.com>
Reply-To: ucsdlib/uc-linked-data <reply@reply.github.com>
Date: Friday, January 26, 2018 at 1:07 PM
To: ucsdlib/uc-linked-data <uc-linked-data@noreply.github.com>
Cc: Kathryn Stine <

[2018-01-29 07:12] ngeraci commented on #21
I'll be there at the session! Also, since I'm on the local arrangements committee, I have admin access to Sched and can just go in and make the update.

[2018-01-29 19:50] chrissyrissmeyer commented on #21
@ngeraci: Awesome! Looks like it will be the following attending:

- Arwen Hutt
- Noah Geraci
- Rachel Jaffe
- Carl Stahmer
- Chrissy Rissmeyer

(No Kathryn, Haiqing, or Kevin). Could you please update the Sched?

[2018-01-29 19:50] chrissyrissmeyer commented on #21
@ngeraci: Nevermind, I see you did it already. Thank you!

[2018-01-29 19:51] #21 closed

[2018-02-01 23:45] katstine commented on #17
draft slide deck with analysis results: https://docs.google.com/presentation/d/1tPh1ytWWfSyxsm0xYrNZ7uQxL62UHhN5yBDoa-kAhoQ/edit#slide=id.p

[2018-02-05 21:10] rmjaffe commented on #17
Hi All,

I finished looking at the responses for collaborators, functional areas, and technology.  I wasn't sure how to best integrate my work into [Kevin's worksheet](https://docs.google.com/spreadsheets/d/13btSziox771xlxh4Zbt6G__V1ipqq28fyTOzfltyfM8/edit#gid=1518377035), so I added a new worksheet, RJ Analysis Collaborators, Areas, Tech.

I experimented with pulling apart the data, specifically

[2018-02-06 00:28] kbalster commented on #17
Hi @rmjaffe,

This looks great! It is certainly easier to interpret and work with than the worksheet I created. I will add columns for the remaining categories.

Kevin

[2018-02-09 17:39] kbalster commented on #17
Hi all, just wanted to provide an update. I got the raw metadata column in, but I've been out of the office the past 4 days, so I haven't been able to complete the metadata analysis column or add the other free text columns. I can finish up the metadata column once I get back on Monday, but feel free to take a first pass at the free text columns.

[2018-02-09 19:58] rmjaffe commented on #17
@kbalster Just a heads up: I started fiddling with the Which metadata standards/schema? results.

[2018-02-09 20:05] katstine commented on #17
@rmjaffe - thanks so much for what you've extracted and analyzed from the spreadsheet into the Google doc. Seems like much of this will be really interesting to share at the BoF, with the quantitative data perhaps going into pie charts? And the points of interest that you've pulled together perhaps serving as opportunities to encourage discussion, more feedback from attendees.

[2018-02-09 20:35] hlinUCB commented on #7
I would like to suggest to add this web site a resource. https://www.w3.org/2005/Incubator/lld/XGR-lld-vocabdataset-20111025/

[2018-02-13 23:43] kbalster commented on #17
@rmjaffe and @katstine I took a first pass at the goals, challenges, conclusions, and successes columns, including analyses with a few controlled phrases. Fire away!

[2018-02-16 19:23] arwenhutt commented on #17
@kbalster @rmjaffe @katstine Thank you all for your work, all of these views of the survey are really useful!  I've been looking at them and playing with some different ideas for pulling out some numbers/visuals to represent some of the insights you all have already made, and some things I find interesting too.  I'm not working in the google sheet though because it is so slow, but I'll add anythin

[2018-02-22 16:47] cstahmer commented on #17
[2018_02_21_uc_linked_data_survey_summary.zip](https://github.com/ucsdlib/uc-linked-data/files/1748740/2018_02_21_uc_linked_data_survey_summary.zip)

Here are some plots that I drew that summarize some of the responses.

[2018-02-22 20:51] arwenhutt commented on #17
Thanks @cstahmer these are very great!  Are these based on text analysis of the original responses?

[2018-02-23 00:11] cstahmer commented on #17
There isn't enough data to do any really fancy NLP or anytying.  We
broke each question down into a Term Document Matrix where we could
identify counts for meaningful words by answer and then referenced these
back to institutional metadata for the responses.  I think they give a
fair idea of what's going on for the topics we covered.  We also tried
doing a sentiment analysis on all the longer answ

[2018-02-23 18:38] katstine commented on #17
thanks, @kbalster and @cstahmer! it's interesting comparing the linked words for the goals/challenges/conclusions questions against the manual coding and analysis we've done.

[2018-02-23 20:00] arwenhutt commented on #17
Slide deck https://docs.google.com/presentation/d/1qxHUz7vFkolVc9YHLARxosgqz8ibja3KMl9IL0CsTio/edit?usp=sharing
Spreadsheet with massaged data used for charts https://docs.google.com/spreadsheets/d/1EEvHzCT1hbatYheAp5vj1uhZpBz-koGRkGOIxcQ9CZM/edit?usp=sharing

[2018-02-28 15:25] #17 closed

[2018-03-07 20:24] katstine commented on #13
John Riemer gave this presentation to the UC Libraries CMCKG on 3/5/2018
 re OCLC's plans to include both $0 and $1 in MARC records to store both authority id's and URIs: [CMCKG-Riemer OCLC Subfld 1 implem plans 2018-03-05 rev[1].pptx](https://github.com/ucsdlib/uc-linked-data/files/1790732/CMCKG-Riemer.OCLC.Subfld.1.implem.plans.2018-03-05.rev.1.pptx)

[2018-03-07 20:37] rmjaffe commented on #13
Yes!  I saw these when they were sent out during the CMCKG call, but didn't
connect the dots back to this task force.  Thanks, Kathryn :)

On Wed, Mar 7, 2018 at 12:24 PM, katstine <notifications@github.com> wrote:

--
Rachel Jaffe
Metadata Librarian
Metadata Services, University Library
University of California, Santa Cruz
1156 High Street
Santa Cruz, CA 95064

jaffer@ucsc.edu
(831) 502-7291

htt

[2018-03-07 21:20] katstine commented on #13
No problem - attaching a revised deck that John just shared that gets into when to use $0 or $1 depending on the dataset the value comes from:

[CMCKG-Riemer OCLC Subfld 1 implem plans 2018-03-05 rev[2].pptx](https://github.com/ucsdlib/uc-linked-data/files/1790905/CMCKG-Riemer.OCLC.Subfld.1.implem.plans.2018-03-05.rev.2.pptx)

[2018-03-23 19:49] arwenhutt commented on #19
Draft outline/strawman for the report structure for discussion https://docs.google.com/document/d/13rotneLJmE1k6OKiSX6oofjlVzIG5qNIyl3MGEMlm7k/edit#

[2018-04-12 02:46] #15 closed

[2018-04-12 02:47] #14 closed

[2018-04-12 02:48] #19 closed

[2018-04-12 02:50] arwenhutt commented on #20
Just noting that this will need to be revised based on feedback from DOC.

[2018-04-12 02:50] #18 closed

[2018-04-12 02:50] #3 closed

[2018-04-13 02:57] arwenhutt commented on #16
closing - duplicates external environmental scan report ticket

[2018-04-13 02:57] #16 closed

[2018-04-13 03:07] arwenhutt opened #22 "Report Appendix: Environmental scan of external projects"
Brief summaries of external projects potentially relevant based on similarities of scale, distribution, etc. to UC system.
Include links.

There are a number of items on the [Resources, references, etc.](https://github.com/ucsdlib/uc-linked-data/wiki/Resources,-references,-etc.) page

[2018-04-13 03:23] arwenhutt opened #23 "Report Appendix: Listing of UC Libraries Linked Data Projects & Activities"
Listing with brief descriptions of systemwide linked data activity, from, but not limited to, survey responses.

Report ticket with link to google doc #28

[2018-04-13 03:31] arwenhutt opened #24 "Report Section: Use Cases"
Focus on use cases relevant to charge, but if unsure, include and we can discuss.

Possible sources:
- https://github.com/ucsdlib/uc-linked-data/issues?q=is%3Aissue+is%3Aopen+label%3Ause-case
- possibly https://github.com/LD4/ld4-community-recon/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Ause-case+ (use case here was for reconciliation so many of these may have end user or management benefits, but

[2018-04-13 03:33] arwenhutt opened #25 "Report Section: Opportunities"
Areas of potential benefit through system level collaboration.

What we want to try to address for each opportunity.  Not all will be relevant to every scenario.

* Opportunity title
     * Related use cases
     * Description
        * Critical factors (to consider/to success)
     * Infrastructure
     * Governance and oversight

Report ticket with link to google doc #28

[2018-04-13 03:34] arwenhutt opened #26 "Report Section: Recommendations"
Recommendations for specific areas of work & development.

[2018-04-13 16:25] arwenhutt opened #27 "Report Section: Background"
Intro section
* [charge](https://github.com/ucsdlib/uc-linked-data/blob/master/files/Linked%20Data%20Charge%20-%20Final%202017.pdf)
* [Shared DAMS group report](https://wiki.library.ucsf.edu/display/UCLDTP/UC+Libraries+DAMS+Technology+Project+Home#UCLibrariesDAMSTechnologyProjectHome-FinalReport)
* [Linked data and UC Libraries strategic priorities](https://github.com/ucsdlib/uc-linked-data/wiki/L

[2018-04-13 17:21] arwenhutt opened #28 "Final Report"
https://docs.google.com/document/d/13rotneLJmE1k6OKiSX6oofjlVzIG5qNIyl3MGEMlm7k/edit#

[2018-04-13 20:48] arwenhutt opened #29 "Report Section: University of California Libraries Linked Data Activity"
Narrative overview of themes in UC activity

[2018-04-13 21:27] arwenhutt opened #30 "Report Section: Environmental Scan of External Projects"

[2018-04-19 23:07] chrissyrissmeyer commented on #24
I finished a first draft (although I have not yet pulled in any of the LD4 use cases --wasn't sure what we would want to include, if any)

[2018-04-23 03:07] arwenhutt opened #31 "Report Appendix: Bibliography"
Bibliography of projects, papers, etc. referenced in the report.

Secondarily, citations for other major resources.

[2018-05-03 21:45] #31 closed

[2018-05-03 21:45] #25 closed

[2018-05-03 21:45] #23 closed

[2018-05-03 21:46] #27 closed

[2018-05-11 21:24] #28 closed, assigned to nobody

[2018-05-18 22:02] arwenhutt opened #32 "Webinar content area - report highlights/themes/etc."
Notes:
*

Possible audience focus:
*

Link to google doc https://docs.google.com/document/d/17X98lkCN6DZTH03e-NNc-k35BnUwjXcpZHcBIB0eyYo/edit?usp=sharing

[2018-05-18 22:02] arwenhutt commented on #32
Did not discuss this section at the 5/18 meeting

[2018-05-18 22:03] arwenhutt opened #33 "Webinar content area - use cases"
Notes:
* use projects to illustrate when possible (UC, then external lib, then non-lib)

Possible audience focus:
* public service / managers

Link to google doc https://docs.google.com/document/d/17X98lkCN6DZTH03e-NNc-k35BnUwjXcpZHcBIB0eyYo/edit?usp=sharing

[2018-05-18 22:11] arwenhutt opened #34 "Webinar content area - linked data essentials"
Possible audience focus:
* non-technial/new to linked data

Link to google doc https://docs.google.com/document/d/17X98lkCN6DZTH03e-NNc-k35BnUwjXcpZHcBIB0eyYo/edit?usp=sharing

[2018-05-18 22:14] arwenhutt opened #35 "Webinar content area - opportunities for systemwide work"
Notes:
* what we can achieve together

Possible audience focus:
* manager

Link to google doc https://docs.google.com/document/d/17X98lkCN6DZTH03e-NNc-k35BnUwjXcpZHcBIB0eyYo/edit?usp=sharing

[2018-05-18 22:17] arwenhutt opened #36 "Webinar content area - projects"
Notes:
* try to focus on UC (to "showcase UC campus projects") with external as needed

Possible audience focus:
* technical

Link to google doc https://docs.google.com/document/d/17X98lkCN6DZTH03e-NNc-k35BnUwjXcpZHcBIB0eyYo/edit?usp=sharing

[2018-05-18 22:19] arwenhutt opened #37 "Webinar template"
Notes:
* Sherri Berger presentations: https://www.slideshare.net/sherriberger/presentations
* The Salmon Report https://libraries.universityofcalifornia.edu/groups/files/about/docs/UC_library_plan_1977.pdf

[2018-05-22 21:47] rmjaffe commented on #35
Just a heads up, I am on vacation 5/23-6/5.  Unfortunately, I've had little to no time to spend with this, but I will pick it up once I return.

[2018-05-24 00:18] arwenhutt commented on #37
I've created a template for the webinars as a starting point called "UCLD webinar template and draft".  I've put it in a newly created drive folder:
https://drive.google.com/drive/folders/1QlmRTW8dMuEE9QL1XVwkWcRg37mLDyPn?usp=sharing

I used colors from the UC Brand Guidelines page http://brand.universityofcalifornia.edu/guidelines/color.html#! for the theme color palette and slide layouts from a

[2018-05-24 00:19] arwenhutt commented on #36
https://github.com/ucsdlib/uc-linked-data/issues/37

[2018-05-24 00:20] arwenhutt commented on #35
Link to template ticket https://github.com/ucsdlib/uc-linked-data/issues/37

[2018-05-24 00:20] arwenhutt commented on #34
Link to template ticket https://github.com/ucsdlib/uc-linked-data/issues/37

[2018-05-24 00:20] arwenhutt commented on #33
Link to template ticket https://github.com/ucsdlib/uc-linked-data/issues/37

[2018-05-24 00:20] arwenhutt commented on #32
Link to template ticket https://github.com/ucsdlib/uc-linked-data/issues/37

[2018-05-24 00:21] #37 closed

[2018-05-24 21:51] ngeraci commented on #34
starting work here: https://docs.google.com/presentation/d/1Dvl51RMp1W-yUA_LV0NYXoX2ndRsQeKLRB6Q3kjNL5s/edit#slide=id.g3adbf8df9a_0_49

[2018-05-25 20:07] cstahmer commented on #32
Nobody else has signed up for this ticket yet, so I wen't ahead and assigned it to myself.  If someone else had their heart set on it, just let me know and I'll happily apply work somewhere else where I can be of use.  I'll start working on content after the weekend.

[2018-05-25 20:18] katstine commented on #33
I'm happy to help with this one.

[2018-06-29 21:19] arwenhutt opened #38 "Webinar 3 - Systemwide opportunities"
Including linked data essentials and use case content areas.

Goals:
1. Potential benefits and applications of linked data at the systemwide level
2. Report highlights
3. Future work areas

Audience:  managers, technical, metadata experts

Presentation template description: #37
Related tickets: #32, #35, #20

[2018-06-29 21:20] arwenhutt opened #39 "Webinar 2 - Current activity, UC and beyond"
Focused on projects/work at UC.  More discussion of technical and infrastructure side of the work than webinar 1.

Goals:
1. Showcase UC linked data activity
2. Examples of current work

Audience: metadata, technical, managers

Presentation template description: #37
Related tickets: #20, #36

[2018-06-29 21:20] arwenhutt opened #40 "Webinar 1 - Linked data in action"
Including linked data essentials and use case content areas.

Goals:
1. Teach linked data concepts
2. Introduce the conceptual shift between record and graph based metadata
3. Show examples of what linked data can do

Audience:  linked data novices, managers, public service

Presentation template description: #37
Related tickets: #20, #33, #34

[2018-06-29 21:20] #20 closed

[2018-06-29 21:20] #32 closed

[2018-06-29 21:20] #33 closed

[2018-06-29 21:20] #34 closed

[2018-06-29 21:20] #35 closed

[2018-06-29 21:20] #36 closed

[2018-09-07 20:27] katstine commented on #39
draft slide deck (as of early August): https://docs.google.com/presentation/d/1lUBnVKOLcutdXU5pBsDGX8ur1ZbXwTjnP3mquns7aY8/edit#slide=id.g3add4720cc_0_0

[2018-09-28 21:37] chrissyrissmeyer opened #41 "Request Zoom webinar license"
In order to host a Zoom webinar, you need to request from campus IT that a special webinar license be applied to your account.

[2018-09-28 21:39] chrissyrissmeyer commented on #41
I submitted a ticket with UCSB's ETSC this afternoon: [RITM0028176](https://ucsb.service-now.com/ess_portal/main_content.do?sysparm_content_url=sc_req_item.do?sys_id=873f4f8edb3cab00b9fbfbd61d96191d)

I'll update the group once I hear back from them.

[2018-09-29 00:15] #38 closed

[2018-09-29 00:16] #5 closed

[2018-09-29 00:16] #6 closed

[2018-09-29 00:16] #7 closed

[2018-09-29 00:16] #8 closed

[2018-09-29 00:16] #9 closed

[2018-09-29 00:16] #10 closed

[2018-09-29 00:16] #12 closed

[2018-09-29 00:16] #13 closed

[2018-09-29 00:43] arwenhutt opened #42 "ucsb storing uris, auto updates, etc."
slides for project profile: https://docs.google.com/presentation/d/12aVzbUmec2cssb-T4h9aKnni0XSzJpxU-6sTfDAfM3A/edit#slide=id.g4368ebc49e_3_45

[2018-09-29 00:44] arwenhutt opened #43 "ucsd local authority records"
slides for project profile: https://docs.google.com/presentation/d/12aVzbUmec2cssb-T4h9aKnni0XSzJpxU-6sTfDAfM3A/edit#slide=id.g4275e27875_0_659

[2018-09-29 00:45] arwenhutt opened #44 "riverside creating authorities in wikidata"
slides for project profile: https://docs.google.com/presentation/d/12aVzbUmec2cssb-T4h9aKnni0XSzJpxU-6sTfDAfM3A/edit#slide=id.g4368ebc49e_3_59

[2018-09-29 00:46] arwenhutt opened #45 "ucla/d conser record mapping"
slides for project profile: https://docs.google.com/presentation/d/12aVzbUmec2cssb-T4h9aKnni0XSzJpxU-6sTfDAfM3A/edit#slide=id.g4275e27875_0_710

[2018-09-29 00:47] arwenhutt opened #46 "ucsb/sd collaborative modeling"
slides for project profile: https://docs.google.com/presentation/d/12aVzbUmec2cssb-T4h9aKnni0XSzJpxU-6sTfDAfM3A/edit#slide=id.g4368ebc49e_3_73

[2018-09-29 00:48] arwenhutt opened #47 "davis catalog/wikibase prototype"
slides for project profile: https://docs.google.com/presentation/d/12aVzbUmec2cssb-T4h9aKnni0XSzJpxU-6sTfDAfM3A/edit#slide=id.g4200717473_0_7

[2018-09-29 00:49] arwenhutt opened #48 "cdl identifier services"
slides for project profile: https://docs.google.com/presentation/d/12aVzbUmec2cssb-T4h9aKnni0XSzJpxU-6sTfDAfM3A/edit#slide=id.g4275e27875_0_752

[2018-09-29 01:37] arwenhutt opened #49 "ucsc backstage uris->marc records"
possible profile - find out more from ucsc contact about possible inclusion

[2018-09-29 01:39] arwenhutt opened #50 "ucb share-vde project / ucd & ucsd LD4P cohort project"
possible profile - find out more about project / contact for more information

[2018-10-01 16:08] rmjaffe commented on #49
Spoke to Marcia. We're OK with including this project in the webinar.  Marcia has offered to write up a short summary and update on the project.

[2018-10-01 17:06] arwenhutt commented on #49
Great!  Thanks Rachel :)

[2018-10-05 17:54] arwenhutt opened #51 "collect images from UC collections"
Images which may be added into webinars at the end for visual interest - probably primarily as background.

Folder for images:
https://drive.google.com/drive/u/1/folders/1IqbtBTOUsJSImTolbEE_z_KwX8tMUWFr?ths=true

[2018-10-05 18:10] arwenhutt opened #52 "draft webinar announcement text"
draft webinar announcements

[2018-10-05 18:12] arwenhutt opened #53 "Create housekeeping and logistics slide for webinars"
Create a slide or slides with basic logistic/housekeeping information and brief intro of the group for both presentations

[2018-10-05 18:14] arwenhutt opened #54 "webinar title ideas"
brainstorm snappy titles for the webinars!

[2018-10-05 18:17] arwenhutt opened #55 "visual sync between webinars"
After all the content is done, look at the presentations side by side and make any final changes to visual elements so that they visually coherent but distinct.

[2018-10-05 18:49] arwenhutt commented on #50
There may be enough overlap between the SHARE-VDE project at Berkeley and the LD4P projects coming up to profile them together.  We can always split them out later if makes more sense.

[2018-10-05 20:10] arwenhutt commented on #41
If @chrissyrissmeyer is out, then she'll have a backup at UCSB to start the webinar and then transfer the host to @kbalster - who will be back up host.  @arwenhutt can be back up back up

[2018-10-05 20:46] arwenhutt opened #56 "review webinar 1 and create issues for work needed"

[2018-10-05 20:47] arwenhutt opened #57 "draft milestones for work"

[2018-10-05 22:59] arwenhutt opened #58 "make project profiles formatting consistent"
Once we have the information for the individual project profiles, go through them to sync up information presented, visual elements, etc.

[2018-10-08 21:26] arwenhutt opened #59 "Draft linked data essentials - "triples" section"

[2018-10-08 21:26] arwenhutt opened #60 "Draft linked data essentials "graph" section"

[2018-10-08 21:27] arwenhutt opened #61 "Draft essentials "reconciliation" section"

[2018-10-08 21:28] arwenhutt opened #62 "Look at ordering of linked data essentials and examples"

[2018-10-08 21:28] arwenhutt opened #63 "Identify additional examples"
that would be necessary or just nice to have, create tickets for them

[2018-10-09 17:24] arwenhutt opened #64 "zoom configuration"
Decisions on zoom configuration options
- registration
- roles
- do we want to do a practice session?
- do we want to do a participant survey?

- other?

[2018-10-09 17:27] arwenhutt opened #65 "webinar email distribution"
Identify where email announcements will be sent and by whom:
- group members will distribute within their organization
- Irvine ?
- San Francisco ?
- CKGs ?
- Other ?

[2018-10-09 17:31] arwenhutt opened #66 "webinar email and zoom notification schedule"
Schedule for email and zoom notifications:

## draft
? - Announcement of both Webinars (? Registration? Link?) -- email
1/9/2019 - Reminder for Webinar 1 (zoom)
1/10/2019 - Webinar 1 presentation
~1/14/2019 (4-5 days after) - Follow up email with link to recording (zoom)
1/15/2019 - Reminder for Webinar 2 -- email and/or zoom?
1/16/2019 - Webinar 2 presentation
~1/21/2019 - (4-5 days after) - Foll

[2018-10-09 17:36] arwenhutt commented on #54
Titles, or phrases we've used in various places:
W1
- Linked data essentials
- Linked data in action

W2
- Linked data, UC and beyond
- Linked data project showcase

[2018-10-09 17:44] arwenhutt commented on #56
Created:
#59
#60
#61
#62
#63

[2018-10-09 17:44] #56 closed

[2018-10-09 17:50] arwenhutt opened #67 "Final group review of Webinar 1"

[2018-10-09 17:51] arwenhutt opened #68 "Final group review of Webinar 2"

[2018-10-09 17:52] arwenhutt commented on #57
I've created milestones for our upcoming meetings, with associated tickets.

I've also laid out some higher level dates working backwards from our webinar dates for review:
10/29? Announcements begin
11/5? Webinar 1 done done done (@cstahmer - is this when you'd like to have the slide deck done by?)
11/8 Webinar 1
11/? Webinar 2 done done done (@katstine - when would you like to have the slide dec

[2018-10-09 18:08] arwenhutt commented on #64
see https://docs.google.com/document/d/1M5p3y7ARnE9acFasrqitDNfGN4SVw3FE8k92XmuIBto/edit for more questions and in doc comment discussion of questions

[2018-10-11 18:43] ngeraci commented on #44
completed draft

[2018-10-18 21:01] arwenhutt opened #69 "Set (updated) date for Webinar 1"
We'll discuss as a group at the 10/26 meeting dependent on @cstahmer 's schedule.

[2018-10-18 21:03] arwenhutt opened #70 "Set (updated) date for Webinar 2"
We'll discuss as a group at the 10/26 meeting dependent on @katstine 's schedule.

[2018-10-18 21:04] arwenhutt commented on #66
To be updated after new dates set for webinars at 10/26 meeting

[2018-10-18 21:19] arwenhutt commented on #41
@chrissyrissmeyer will the dates for the license request need to be modified?

[2018-10-22 16:17] chrissyrissmeyer commented on #41
@arwenhutt I don't believe so. The last time I had a license, I had it on my account for over 1 year (and campus IT asked if I had anything scheduled before removing it from my account).

Closing this ticket since I was able to confirm this morning that the webinar license has been added back to my account.

[2018-10-22 16:17] #41 closed

[2018-10-26 20:12] arwenhutt commented on #70
Tentative January 16th @12 (dependent on @cstahmer's schedule for Webinar 1)

[2018-10-26 20:19] cstahmer commented on #70
Right now I'm out of the office the first week of January, but can do any time after that.

On Oct 26, 2018 1:12 PM, arwenhutt <notifications@github.com> wrote:

Tentative January 16th @12<https://github.com/12> (dependent on @cstahmer<https://github.com/cstahmer>'s schedule for Webinar 1)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https:/

[2018-10-26 20:41] arwenhutt commented on #65
@arwenhutt @chrissyrissmeyer @ngeraci try identify contacts in Metadata at Irvine and UCSF

CKGs:
* Digital Repositories
* Cataloging & Metadata
* Preservation

@katstine will ask about SILS distribution

[2018-10-26 21:30] chrissyrissmeyer commented on #65
UCSF: I'd send to Charlie Macquarie and also Susan Boone (Technical Services Operations Manager).

As a general thought, it might not be a bad idea to send directly to everyone who responded to the original survey.

[2018-10-27 00:11] arwenhutt commented on #70
@cstahmer Great! How about January 9th?

[2018-11-02 18:18] arwenhutt commented on #69
January 9th or 10th both work for Carl.

[2018-11-02 22:43] chrissyrissmeyer commented on #54
We also need descriptions and bios!

[2018-11-02 23:05] arwenhutt commented on #66
Updated with dates discussed 11/2 meeting

[2018-11-02 23:09] arwenhutt commented on #57
Updated milestones:
December 14th - Webinar 1 & 2 final group review
December 21st - slide deck and content completed and handed off to @cstahmer and @katstine

Announcement and webinar schedule #66
Webinar dates #69 & #70

[2018-11-02 23:09] #57 closed

[2018-11-02 23:14] arwenhutt commented on #69
January 10th

[2018-11-02 23:14] #69 closed

[2018-11-02 23:14] arwenhutt commented on #70
Webinar 2 = January 16th

[2018-11-02 23:14] #70 closed

[2018-11-02 23:17] arwenhutt commented on #66
The only date we don't have is for the initial announcements, but I think that's something that DOC will have input on.  I think we've set the dates we can, so closing this ticket.

[2018-11-02 23:17] #66 closed

[2018-11-07 19:28] rmjaffe commented on #52
[Link](https://docs.google.com/document/d/1ELAZ3w5xen4NtyeTraC-ikXx5KoO8Vb4KlgmItsWuBo/edit) to draft text.

[2018-11-30 19:30] #54 closed

[2018-11-30 19:30] #52 closed

[2018-11-30 19:47] arwenhutt commented on #65
https://docs.google.com/document/d/1knJ2-KoMoO8oui1DF6hHOuMgfMlNVXNLJSvESjFzVT8/edit

[2018-11-30 19:48] #62 closed

[2018-12-01 00:43] arwenhutt commented on #50
from 11/30 meeting @cstahmer will talk to Xiaoli about slides from a presentation she did as starter content.

Possible outside reviewers: Aislinn & Erik

[2018-12-01 00:57] #44 closed

[2018-12-01 00:58] arwenhutt commented on #48
Outside reviewers: John & Maria at CDL

[2018-12-01 01:08] arwenhutt commented on #65
The announcement is ready to be distributed, though I think it would be better to wait until Monday! I'll be sending it to you all formatted as an email for convenience.

Everyone has been assigned this ticket.  Please comment when you've sent it to your org/groups, and remove your name.

@arwenhutt - survey respondents, UCI, UCSF, SILS contact, DOC, UCSD, digital repository md ckg, indirectly to

[2018-12-01 01:12] #59 closed

[2018-12-01 01:13] arwenhutt commented on #63
From 11/23 & 11/30 meetings, we talked about adding more examples of current uses including "linked data you didn't know you were using"

[2018-12-01 01:14] arwenhutt commented on #60
11/30 meeting:  @arwenhutt will follow-up on possible graphic for this

[2018-12-01 01:20] arwenhutt opened #71 "formatting and content guidelines for speaker notes"
from 11/30 meeting
Follow Noah's wikidata profile with an emphasis on visuals in the slides themselves and the bulk of the content in the speakers notes.

For speaker notes, err on the side of more content to give Kathryn flexibility in the presentation

Kathryn will look at whether there are any key points that would be useful for adding to the speaker notes, and add those to the speaker notes on

[2018-12-01 01:27] arwenhutt opened #72 "draft possible list of content for opportunties section"
from 11/30 meeting
draw from the use cases and opportunities sections of the report, and tied to or inspired by the current work being done

[2018-12-03 18:09] arwenhutt commented on #65
~survey respondents, UCI, UCSF, SILS contact, DOC, UCSD, digital repository md ckg, indirectly to research curation ckg~ - done!

[2018-12-03 18:25] arwenhutt commented on #65
FYI - I also added the announcement to the wiki https://github.com/ucsdlib/uc-linked-data/wiki/Linked-Data-Project-Team-Webinars

[2018-12-03 19:12] rmjaffe commented on #65
Sent to UCSC!

[2018-12-04 00:27] chrissyrissmeyer commented on #65
Sent to UCSB and the preservation CKG

[2018-12-04 00:44] kbalster commented on #65
Sent to UCLA and CMCKG

[2018-12-04 17:53] ngeraci commented on #65
sent to UCR

[2018-12-07 21:30] arwenhutt commented on #63
https://www.wikidata.org/wiki/Wikidata:Tools

[2018-12-12 19:10] arwenhutt commented on #46
@chrissyrissmeyer I started adding some content to the profile for this, including a quick first pass some speakers notes and some screenshots I grabbed that we might be able to use on the slide.

[2018-12-12 22:19] arwenhutt commented on #65
verified announcement was sent to data curation ckg

[2018-12-12 22:20] arwenhutt commented on #71
done! thanks @katstine

[2018-12-12 22:20] #71 closed, assigned to katstine

[2018-12-13 21:42] arwenhutt opened #73 "roles for webinars"
From previous meeting:
- Speakers @cstahmer @katstine
- Zoom host @chrissyrissmeyer (backup @kbalster)
    - muting, etc.
    - switch control to presenter
    - technical issues
- Official moderator @arwenhutt
    - introduction
    - reads Q&A
- Chat monitor @kbalster (backup @ngeraci)
    - keeps an eye out for technical issues
    - questions from chat to "Q&A"

Link to @chrissyrissmeyer 's do

[2018-12-14 17:46] cstahmer commented on #63
http://www.geonames.org/  is LD based

[2018-12-14 17:47] cstahmer commented on #63
http://www.nines.org/

[2018-12-14 17:48] cstahmer commented on #63
Google Knowledge Cards

[2018-12-14 17:49] cstahmer commented on #63
Not really a "you didn't know you were using" example, but I always like to show a Relfinder example, built of dbpedia.

[2018-12-14 17:51] cstahmer commented on #63
https://www.data.gov/

[2018-12-14 19:00] arwenhutt commented on #49
@rmjaffe I didn't see slides for this in the slide deck - I think we may not have initially created placeholders before you'd talked to Marcia, but I'll add the template slides to webinar 2 for you to work on.

[2018-12-14 19:03] #45 closed

[2018-12-14 20:19] rmjaffe commented on #49
Thanks, Arwen.  I noticed that they were absent and thought that a decision
had been made to leave that project out.  I'll be happy to work on those
slides once they are back in.

On Fri, Dec 14, 2018 at 11:00 AM arwenhutt <notifications@github.com> wrote:

--
Rachel Jaffe
Metadata Librarian
Metadata Services, University Library
University of California, Santa Cruz
1156 High Street
Santa Cruz, CA

[2018-12-14 21:18] arwenhutt commented on #73
@chrissyrissmeyer okay, I think this is ready for Zoom setup

[2018-12-14 21:31] chrissyrissmeyer commented on #73
I have added all of the folks with official roles as panelists for the webinars. If you don't have an official role you are taking on in the webinar (@rmjaffe and @hlinUCB), you'll need to register for the webinar as an attendee.

[2018-12-14 21:31] #73 closed, assigned to chrissyrissmeyer

[2018-12-19 18:21] arwenhutt opened #74 "Add brief UC project descriptions from report to webinar 2"
Link to slide:
https://docs.google.com/presentation/d/12aVzbUmec2cssb-T4h9aKnni0XSzJpxU-6sTfDAfM3A/edit#slide=id.g4368ebc49e_3_4

The slide is currently in the authorities and identity management section, but I think any projects can be included either here or on similarly formatted slides in the other theme areas.

[2018-12-19 18:22] arwenhutt opened #75 "Add descriptions for non-uc projects from report (webinar 2)"
https://docs.google.com/presentation/d/12aVzbUmec2cssb-T4h9aKnni0XSzJpxU-6sTfDAfM3A/edit?disco=uiAAAACMIZS-k

[2018-12-19 18:26] arwenhutt commented on #58
Discussed at 12/14 meeting:
- Mention campus name in the smaller text on the title slides

[2018-12-19 18:30] arwenhutt opened #76 "Slides for linked data syntax (rdf, etc.)"
This slide needs a brief description:
https://docs.google.com/presentation/d/1Dvl51RMp1W-yUA_LV0NYXoX2ndRsQeKLRB6Q3kjNL5s/edit?disco=AAAACcQgP_M

And the one right after it needs more content.  From conversation at 12/14 meeting this could be a very simple statement in each of the different serializations.

[2018-12-19 18:34] arwenhutt opened #77 "improve images in network graph section (webinar 1)"
https://docs.google.com/presentation/d/1Dvl51RMp1W-yUA_LV0NYXoX2ndRsQeKLRB6Q3kjNL5s/edit?disco=AAAACYR76q4

[2018-12-19 19:14] arwenhutt opened #78 "add example of URI to URI to reconciliation webinar 1"

[2018-12-19 19:19] arwenhutt commented on #78
try to draw on previous example
maybe [library uri] -> [wikidata id] (and that lets us get more info)

[2018-12-21 00:51] #65 closed

[2018-12-21 00:51] #61 closed

[2019-01-04 21:26] arwenhutt commented on #76
@kbalster to take excerpts of @hlinUCB 's examples to fit on slide

[2019-01-04 21:26] #60 closed, assigned to arwenhutt

[2019-01-04 21:52] #74 closed, assigned to nobody

[2019-01-04 21:52] #75 closed, assigned to nobody

[2019-01-04 22:00] #51 closed

[2019-01-04 22:15] kbalster commented on #76
Excerpts added. Let me know if any changes are needed.

[2019-01-04 23:02] #53 closed

[2019-01-04 23:03] arwenhutt commented on #76
@kbalster Looks great!  Thanks!

[2019-01-04 23:03] #76 closed, assigned to kbalster

[2019-01-07 20:35] arwenhutt commented on #77
@cstahmer I've redone slides 44 & 45, let me know if there's any other versions/images you think might be useful.

I also think slides 46-49 can be deleted but will leave that to you just in case you want to use any of them.

[2019-01-07 20:36] #77 closed, assigned to arwenhutt

[2019-01-07 20:46] arwenhutt opened #79 "draft slide summarizing impact / value of ld (first half of presentation)"

[2019-01-09 21:02] #63 closed

[2019-01-09 21:02] #78 closed, assigned to cstahmer

[2019-01-09 21:02] #79 closed, assigned to arwenhutt

[2019-01-09 21:02] #64 closed

[2019-01-09 21:03] #67 closed

[2019-01-18 17:39] #39 closed

[2019-01-18 17:39] #40 closed

[2019-01-18 17:39] #42 closed

[2019-01-18 17:39] #46 closed

[2019-01-18 17:39] #47 closed

[2019-01-18 17:39] #48 closed

[2019-01-18 17:39] #49 closed

[2019-01-18 17:39] #50 closed

[2019-01-18 17:39] #55 closed

[2019-01-18 17:39] #58 closed

[2019-01-18 17:39] #68 closed

[2019-01-18 17:39] #72 closed, assigned to katstine, ngeraci